@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto+Slab:400,700);
nav input[type="text"], nav input[type="password"], nav input[type="search"], form input[type="text"], form input[type="password"], form input[type="search"] {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-size: 14px;
  outline: none;
  border: none;
  height: 27px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: text-bottom;
  border: 1px solid #DDDDDD; }
  nav input[type="text"]:not(:first-child-of-type), nav input[type="password"]:not(:first-child-of-type), nav input[type="search"]:not(:first-child-of-type), form input[type="text"]:not(:first-child-of-type), form input[type="password"]:not(:first-child-of-type), form input[type="search"]:not(:first-child-of-type) {
    margin-left: 8px; }
nav input[type="text"]:focus, nav input[type="search"]:focus, nav input[type="password"]:focus, nav textarea:focus, form input[type="text"]:focus, form input[type="search"]:focus, form input[type="password"]:focus, form textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  -webkit-box-shadow: 0 0 5px #51cbee;
  -moz-box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

nav ul {
  list-style-type: none; }

nav ul li {
  vertical-align: super;
  margin-left: 8px;
  margin-right: 8px; }

nav ul li a {
  text-decoration: none; }

.row {
  width: 1000px;
  max-width: 100%;
  min-width: 400px;
  margin: 0 auto; }

.row .row {
  width: auto;
  max-width: none;
  min-width: 0; }

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.row:after, .clearfix:after {
  clear: both; }

.row, .clearfix {
  zoom: 1; }

/* COLOURS */
/* RESET */
html {
  font-family: "-apple-system-font", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  height: 100%; }

body {
  height: 100%; }

article h1 {
  margin-bottom: 5px; }

article p, article table {
  text-align: justify; }

label, input, p {
  font-size: 16px; }

/* TABLE RESET */
table {
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse; }

table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede; }

table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff; }

/* BUTTON RESET */
button {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  outline: none;
  text-align: center;
  vertical-align: bottom;
  background-color: white;
  color: #111111;
  border: 1px solid #cccccc;
  font-size: 0.9rem;
  height: 27px;
  padding-left: 1.1em;
  padding-right: 1.1em; }
  nav[role="navigation"].inverse button {
    border: none; }
  button:hover {
    background-color: #ebebeb;
    border: 1px solid #adadad; }
  button:active {
    box-shadow: 1px 6px 7px -5px gray true;
    -webkit-box-shadow: 1px 6px 7px -5px gray true;
    -moz-box-shadow: 1px 6px 7px -5px gray true; }

body {
  background: whitesmoke; }

#AccordionDemo1 {
  margin-top: 20px; }
  #AccordionDemo1 ul {
    list-style-type: none; }
  #AccordionDemo1 ul li {
    font-family: "Roboto Condensed";
    position: relative;
    display: block;
    outline: none;
    min-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer; }
  #AccordionDemo1 ul li a {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: normal;
    background: #3b7c3b;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    width: 100%;
    min-height: 36px; }
  #AccordionDemo1 ul li a:hover {
    background: #2a592a; }
  #AccordionDemo1 ul li a span {
    background: white;
    color: #2e622e;
    float: right;
    display: inline-block;
    width: 36px;
    height: 17px;
    text-align: center;
    border-radius: 30px; }

#AccordionDemo2 {
  margin-top: 20px; }
  #AccordionDemo2 ul {
    list-style-type: none; }
  #AccordionDemo2 ul li {
    font-family: "Roboto Condensed";
    position: relative;
    display: block;
    outline: none;
    min-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer; }
  #AccordionDemo2 ul li a {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: normal;
    background: #048ac2;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    width: 100%;
    min-height: 36px; }
  #AccordionDemo2 ul li a:hover {
    background: #036690; }
  #AccordionDemo2 ul li a span {
    background: white;
    color: #036f9c;
    float: right;
    display: inline-block;
    width: 36px;
    height: 17px;
    text-align: center;
    border-radius: 30px; }

#AccordionDemo3 {
  margin-top: 20px; }
  #AccordionDemo3 ul {
    list-style-type: none; }
  #AccordionDemo3 ul li {
    font-family: "Roboto Condensed";
    position: relative;
    display: block;
    outline: none;
    min-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer; }
  #AccordionDemo3 ul li a {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: normal;
    background: #6e3ca3;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    width: 100%;
    min-height: 36px; }
  #AccordionDemo3 ul li a:hover {
    background: #552e7e; }
  #AccordionDemo3 ul li a span {
    background: white;
    color: #5b3287;
    float: right;
    display: inline-block;
    width: 36px;
    height: 17px;
    text-align: center;
    border-radius: 30px; }

#AccordionDemo4 {
  margin-top: 20px; }
  #AccordionDemo4 ul {
    list-style-type: none; }
  #AccordionDemo4 ul li {
    font-family: "Roboto Condensed";
    position: relative;
    display: block;
    outline: none;
    min-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer; }
  #AccordionDemo4 ul li a {
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: normal;
    background: #d02222;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    width: 100%;
    min-height: 36px; }
  #AccordionDemo4 ul li a:hover {
    background: #a51b1b; }
  #AccordionDemo4 ul li a span {
    background: white;
    color: #b01d1d;
    float: right;
    display: inline-block;
    width: 36px;
    height: 17px;
    text-align: center;
    border-radius: 30px; }

#MenuMaster {
  width: 25%;
  position: relative;
  min-height: 1px;
  float: left;
  margin-left: 4.16667%;
  margin-right: 4.16667%;
  overflow: auto; }
  #MenuMaster img {
    max-width: 100%; }
  @media only screen and (max-width: 480px) {
    #MenuMaster {
      width: 100%;
      position: relative;
      min-height: 1px;
      float: left; } }
  @media only screen and (max-width: 480px) {
    #MenuMaster {
      margin-left: 0; } }
  @media only screen and (max-width: 480px) {
    #MenuMaster {
      margin-right: 0; } }

#ArticleMaster {
  margin-top: 5px;
  width: 66.66667%;
  position: relative;
  min-height: 1px;
  float: left;
  height: 100%;
  padding: 10px; }
  #ArticleMaster img {
    max-width: 100%; }

#ArticleMaster h1 {
  font-family: "Roboto Condensed"; }

#ArticleMaster p, #ArticleMaster table {
  font-family: "Roboto Slab"; }

#Container {
  padding-bottom: 20px;
  height: 100%; }
