<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Styles53</title>
    <style src="./test.scss"></style>
  </head>
  <body>
    <main-quiz class="row" id="Container">
      <h1><%= doc.title %></h1>
      <% for(var question in doc.body) { %>
      <label><%= question %></label><input data-answer="<%= doc.body[question] %>"/>
      <% } %>
    </main-quiz>
</body>
</html>
