#newQuestion {
    display:none;
}

#formHeader {
    @include grid-row();
    background-color:$foreground;
    padding:5px;
}

#quizTitle {
    @include grid-column(8);
}

#createButton {
    @include small-button();
}

#submitButton {
    @include small-button();
}