@import "styles/ui/subject.scss";
@import "styles/ui/topbar.scss";

main {
    @include grid-row();
}

#subjects-student {
    @media #{$small-only} {
	@include block-grid(2, $spacing: 15px);
    }
    @media #{$medium-up} {
	@include block-grid(4, $spacing: 30px);
	padding-top:10px;
    }
}

#subjects-student img {
    @media #{$large-up} {
	padding:20px;
	-webkit-transition-property: padding;
	-webkit-transition-duration: 0.5s;
    }
}

#subjects-student img:hover {
    @media #{$large-up} {
	padding:0px;
    }
}

#subjects {
    @include mobile-list();
}