@import "styles/ui/subject";

#quiz {
    @include mobile-list();

    .quiz-redo, .quiz-correct {
	@extend .right;
	margin-right:5px;
    }
}

#quiz li:nth-term(2) {
    padding:0;
}

#quiz label, #quiz input, #quiz input:focus {
    @media #{$large-up} {
	@include grid-column(2, $collapse: true);
	&:nth-child(-n+6) {
	    border-top:1px solid #333;
	}
    }
    @media #{$medium-only} {
	@include grid-column(3, $collapse: true);
	&:nth-child(-n+4) {
	    border-top:1px solid #333;
	}
    }
    @media #{$small-only} {
	@include grid-column(6, $collapse: true);
	&:nth-child(-n+2) {
	    border-top:1px solid #333;
	}
    }
    height:30px;
    font-size:0.9em;
    padding:4.5px;
    text-align:center;
    outline:none;
    border:0;
    border-left:1px solid #333;
    border-right:1px solid #333;
    border-bottom:1px solid #333;
    margin:0;
    color:#222;
    box-shadow:none;
}

#quiz label {
    background:#555555;
}

#quiz input {
    background:#bbb;
    transition:none;
}

#quiz input.correct {
    background-color: #66CD00;
}

#quiz input:focus:not([readonly]) {
    background:#ffff66;
}

#quiz input[readonly]:not(.correct) {
    background-color:#ff0000;
}