@import "app/subject/subject.scss";

main, x-quiz {
	display:block;
}

.container {
	margin-top:20px;
	border-top:1px solid #000;
}

.container label, .container input {
    @include grid-column(2, $collapse: true);
    height:25px;
    font-size:0.9em;
    padding:4.5px;
    text-align:center;
    outline:none;
    border:0;
    border-left:1px solid #333;
    border-right:1px solid #333;
    border-bottom:1px solid #333;
    margin:0;
    color:#222;

    &:nth-child(-n+6) {
	border-top:1px solid #333;
    }
}

.container label {
	background:#555555;
}

.container input {
	background:#bbb;
}

.container input:focus {
	background:#ffff66;
}