<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Styles53</title>
    <style src="./index.scss"></style>
  </head>
  <body>
    <% include header.ejs %>
    <main class="row">
	<% subjects.forEach(function(subject) { %>
	<li>
	  <a href="/<%= subject._id %>">
	    <img src="/icons/<%= subject.subject_name %>.png"/>
	  </a>
	</li>
	<% }); %>
    </main>
    <footer class="row"></footer>
  </body>
</html>
