@import "foundation";

form {
    @media #{$medium-up} {
	@include grid-column(4, $push:4);
    }
    @media #{$small-only} {
	@include grid-column(12);
    }
    margin-top:10px;
}

form h2 {
    margin-bottom:0.2rem;
}

form label#errorMessage {
    @extend span.error;
    padding-top:0.5rem;
}

form input {
    @include grid-column(12);
}

footer {
    @include grid-column(12);
}

footer #html5Logo {
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}