@import "foundation";

$foreground: #fafafa;

main, x-slidable, x-richtexteditor {
    display:block;
}

* {
    outline:none;
}

.jsmore {
    display:none !important;
}

html {
    background-image:url("/images/ios7.png");
}

body {
    background-color:rgba(0, 0, 0, 0.4);
}

body main {
    @include grid-row();
}

body main > nav {
    @include grid-column(3);
    background-color:$foreground;
    padding-top:32px;
    padding-right:20px;
}

body main > nav input[type="search"]:focus {
    background-color:white;
}

body main > nav ul {
    @include side-nav();
}

body main > nav ul li a {
    display:inline-block;
}

body main > nav ul li a + a {
    float:right;
    margin-top:3.5px;
    margin-left:5px;
    margin-right:0.1px;
}

body main > nav #numberOfDrafts {
    @include label();
    vertical-align:bottom;
}

body main > nav #newPost {
    @include button($full-width:true);
}

body main > div {
    @include grid-column(9);
}

body main > div #newPostForm {
    @include grid-row($behavior:nest);
    margin-top:20px;
    margin-left:0px;
    margin-right:0px;
    background-color:white;
    padding:20px;
}

body main > div #newPostForm input {
    @include grid-column(12);
}

body main > div #newPostForm x-richtexteditor {
    @extend textarea;
    @include grid-column(12);
    outline:none;
    resize: vertical;
    min-height:200px;
}

body main > div #newPostForm textarea {
    @include grid-column(12);
    resize: vertical;
    min-height:200px;
}

body main #formattingButtons button {
    @include button(rem-calc(8), $radius: $button-radius);
    font-size:rem-calc(14);
    margin-bottom:6px;
}

body main #newPostForm #buttons {
    @include grid-column(12, $float:right);
}

body main #newPostForm #buttons button[type="submit"] {
    @include button(rem-calc(6), $radius: $button-round);
    font-size: rem-calc(12);
    margin-bottom:8px;
}

article {
    @include grid-row();
    background-color:$foreground;
    margin-top:20px;
    padding:20px;
    text-align:justify;
}

article .postHeading {
    & {
	@include grid-column(10, $collapse:true);
    }
    h2 {
	margin-bottom:0;
	font-weight:bold;
    }
    h2 a {
	transition: color 0.3s ease-in-out;
    }
    h2 a:not(:hover) {
	color:#333;
    }
}

article .postActions {
    & {
	@include grid-column(2, $collapse: true);
	float:right;
    }
    button {
	@include button(rem-calc(4), $bg: $foreground);
	font-size: rem-calc(14);
	margin-bottom:8px;
	float:right;
    }
}

article .postMeta {
    & {
	@include grid-column(12, $collapse:true);
    }
    h6.indicatorDraft {
	color:#e79e19;
	font-weight:bold;
    }
}

article .postExcerpt {
    @include grid-column(12, $collapse:true);
    word-wrap:break-word;
}

