<html>
	<head>
	  <title><%= subject.name %></title>
	</head>
	<body>
	  <header>
	    <% include ../index/nav.ejs %>
	  </header>
	  <main>
	    <ul>
	      <li class="active">Posts</li>
	      <% if(subject.vocab_quizzes.length != 0) { %>
              <li>Vocab Quizzes</li>
	      <% } %>
	      <li>Student Resources</li>
	    </ul>
	  </main>
	</body>
</html>
