@import "foundation";

$foreground: #fafafa;

main, x-slidable, x-richtexteditor, x-snowfall {
    display:block;
}

* {
    outline:none;
}

.jsmore {
    display:none !important;
}

html {
    background-image:url("/images/ios7.png");
    height:100%;
}

body {
    background-color:rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    z-index:-20;
}


x-snowfall {
    width:100%;
    height:100%;
    z-index:-10;
    position:relative;
}

main {
    @include grid-row();
    height:100%;
}

nav#intraSubjectNavigation {
    @media #{$medium-up} {
	& {
	    @include grid-column(3);
	    background-color:$foreground;
	    padding-top:32px;
	    padding-right:20px;
	}
	ul {
	    @include side-nav();
	}
	ul li a:first-child {
	    width:70%;
	    display:inline-block;
	}
	ul li a + a {
	    margin-left:5px;
	    float:right;
	}
	#numberOfDrafts {
	    @include label();
	    vertical-align:bottom;
	}
	#newPost {
	    @include button($full-width:true);
	}
	input[type="search"]:focus {
	    background-color:white;
	}
    }
    @media #{$small-only} {
	display:none;
    }
}

body main > div {
    @media #{$medium-up} {
	@include grid-column(9);
    }
    @media #{$small-only} {
	@include grid-column(12);
    }
    & {
	height:100%;
	overflow:scroll;
    }
}

body main > div #newPostForm {
    @include grid-row($behavior:nest);
    margin-top:20px;
    margin-left:0px;
    margin-right:0px;
    background-color:white;
    padding:20px;
}

body main > div #newPostForm input {
    @include grid-column(12);
}

body main > div #newPostForm x-richtexteditor {
    @extend textarea;
    @include grid-column(12);
    outline:none;
    resize: vertical;
    min-height:200px;
}

body main > div #newPostForm textarea {
    @include grid-column(12);
    resize: vertical;
    min-height:200px;
}

.toolbar ul {
    @include button-group-container();
}

.toolbar ul button {
    @include button(
	$padding:rem-calc(7),
	$bg: $secondary-color
    );
    @include button-group-style(
	$radius: true
    );
}

body main #formattingButtons button {
    @include button(rem-calc(7), $bg: #fff, $radius: $button-radius);
    font-size:rem-calc(14);
    margin-bottom:6px;
}

body main #newPostForm #buttons {
    @include grid-column(12, $float:right);
}

body main #newPostForm #buttons button[type="submit"] {
    @include button(rem-calc(6), $radius: $button-round);
    font-size: rem-calc(12);
    margin-bottom:8px;
}

article {
    @include grid-row();
    background-color:$foreground;
    margin-top:20px;
    padding:20px;
    text-align:justify;
}

article .postHeading {
    & {
	@include grid-column(10, $collapse:true);
    }
    h2 {
	margin-bottom:0;
	font-weight:bold;
    }
    h2 a {
	transition: color 0.3s ease-in-out;
    }
    h2 a:not(:hover) {
	color:#333;
    }
}

article .postActions {
    & {
	@include grid-column(2, $collapse: true);
	float:right;
    }
    a, button {
	@include button(rem-calc(4), $bg: $foreground);
	font-size: rem-calc(14);
	margin-bottom:8px;
	float:right;
    }
}

article .postMeta {
    & {
	@include grid-column(12, $collapse:true);
    }
    h6 {
	font-weight:bold;
	color:#777;
    }
    h6.indicatorDraft {
	color:#e79e19;
    }
}

article .postExcerpt {
    @include grid-column(12, $collapse:true);
    word-wrap:break-word;
}

