@import "foundation/functions";

// BACKGROUND
$foreground: #fff;
$middleground: #f0f4f4;

// SPACING
$minor-margin: 5px;
$content-margin: $minor-margin * 4;

// COLOURS
$info: #33b5e5;
$warning: #e55b00;
//$orange: #FF9900;
$orange: #e58900;
$red: #D84A33;
$purple:#852b99;
$green: #35aa47;

// BUTTONS
$button-tny: rem-calc(6);
$button-sml: rem-calc(10);

$button-font-tny: rem-calc(12);
$button-font-sml: rem-calc(14);
$button-margin-bottom: 0px;

// SIDE NAV
$side-nav-list-margin: 0px;

@import "foundation";

main, x-slidable, x-richtexteditor, x-snowfall, x-deletable, x-bubble {
    display:block;
}

* {
    outline:none;
}

.jsmore {
    display:none !important;
}

body {
    @include grid-row();
    background-image:url("/images/ios7_xlarge.png");
    @media #{$xxlarge-up} {
	background-image:url("/images/ios7.png");
    }
    width:100%;
    height:100%;
}

x-snowfall {
    width:100%;
    height:100%;
    position:relative;
}

@mixin content {
    @include grid-row();
    background-color:$foreground;
    margin-top:$content-margin;
    padding:20px;

    input, input:focus, select, select:focus {
	background-color:white;
    }
}

nav#intraSubjectNavigation {
    @include grid-column(12);
    @media #{$small-only} {
	@include grid-column(3, $collapse: true, $pull: 3);
    }
    @media #{$medium-up} {
	& {
	    @include grid-column(3, $collapse: true);
	    background-color:$middleground;
	}
	& ~ main {
	    @include grid-column(9);
	}
	ul {
	    @include side-nav();
	}
	h4 {
	    padding-top:$content-margin;
	}
	h4, form, ul li {
	    padding-left:$content-margin;
	    padding-right:$content-margin;
	}
	ul li {	    
	    padding-top:$minor-margin;
	    padding-bottom:$minor-margin;
	}
	ul li:hover {
	    background-color:darken($middleground, 5%);
	}
	ul li.header {
	    text-transform:uppercase;
	}
	#numberOfDrafts {
	    @include label();
	    vertical-align:bottom;
	}
	#newLink {
	    @include button($full-width:true);
	}

    }
}

#newLinkForm {
    background-color:white;
    padding:20px;
}

// mobile-list
@mixin mobile-list($bg: $foreground) {
    margin-top:$content-margin;
    margin-left:0;
    list-style-type:none;
    
    li {
	@include grid-row();
	background-color:$bg;
	border-bottom:1px solid darken($bg, 10%);
	padding:5px;

    }
    li:last-child {
	border-bottom:none;
    }
}

// bar
%bar {
    padding: $minor-margin;
    background-color:$middleground;
}