@import "foundation";

$foreground: #fff;
$middleground: #f0f4f4;
$content-margin:20px;
$info: #33b5e5;

main, x-slidable, x-richtexteditor, x-snowfall, x-deletable, x-bubble {
    display:block;
}

* {
    outline:none;
}

.jsmore {
    display:none !important;
}

html {
    background-image:url("/images/ios7_xlarge.png");
    @media #{$xxlarge-up} {
	background-image:url("/images/ios7.png");
    }
    height:100%;
}

body {
    background-color:rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    z-index:-20;
}


x-snowfall {
    width:100%;
    height:100%;
    z-index:-10;
    position:relative;
}

main {
    @include grid-row();
    height:100%;
}

@mixin content {
    @include grid-row();
    background-color:$foreground;
    margin-top:$content-margin;
    padding:20px;

    input, input:focus, select, select:focus {
	background-color:white;
    }
}

nav#intraSubjectNavigation {
    @media #{$medium-up} {
	& {
	    @include grid-column(3);
	    padding-top:32px;
	    padding-right:20px;
	    background-color:$middleground;
	}
	ul {
	    @include side-nav();
	}
	ul li a:first-child {
	    width:70%;
	    display:inline-block;
	}
	ul li a + form {
	    display:inline-block;
	}
	ul li a + a, ul li a + button, ul li a + form button {
	    @extend  a;
	    margin-left:40px;
	    float:right;
	    background-color:$foreground !important;
	    padding:0 !important;
	    margin-top:0 !important;
	    margin-right:0 !important;
	    margin-bottom:0 !important;
	}
	ul li.header {
	    text-transform:uppercase;
	}
	#numberOfDrafts {
	    @include label();
	    vertical-align:bottom;
	}
	#newLink {
	    @include button($full-width:true);
	}

    }
    @media #{$small-only} {
	display:none;
    }
}

body main > div  {
    @media #{$medium-up} {
	@include grid-column(9);
    }
    @media #{$small-only} {
	@include grid-column(12);
    }
    & {
	height:100%;
	overflow:auto;
    }
}

main #newPostForm {
    @include content;
    margin-left:0px;
    margin-right:0px;
}

textarea {
    resize:vertical;
    outline:none;
}

main #newPostForm x-richtexteditor {
    @extend textarea;
    min-height:200px;
}

.toolbar ul {
    @include button-group-container();
    margin-right:10px;
    display:inline-block;
}

.toolbar ul button {
    @include button(
	$padding:rem-calc(7),
	$bg: $secondary-color
    );
    @include button-group-style(
	$radius: true
    );
}

main #newPostForm #buttons {
    @include grid-column(12, $collapse:true);
}

$warning: #e55b00;

#newPostForm #buttons button {
    margin-left:5px;
}

@mixin mini-button($colour:$primary-color, $float:left) {
    @include button(rem-calc(6), $colour);
    font-size:rem-calc(12);
    margin-bottom:0px;
    float:$float;
}

@mixin small-button($colour:$primary-color) {
    @include button(rem-calc(6), $colour);
    @include grid-column(2, $float:right);
    font-size: rem-calc(12);
    margin-bottom:0px;
}

.publishButton {
    @include small-button($warning);
}

.draftButton {
    @include small-button();
}

article {
    @include content;
}

article .postHeading {
    & {
	@include grid-column(10, $collapse:true);
    }
    h2 {
	margin-bottom:0;
	font-weight:bold;
    }
    h2 a {
	transition: color 0.3s ease-in-out;
    }
    h2 a:not(:hover) {
	color:#333;
    }
}

article .postActions {
    & {
	@include grid-column(2, $collapse: true);
	float:right;
    }
    a, button {
//	@include button(rem-calc(4), $bg: $foreground);
//	font-size: rem-calc(14);
//	margin-bottom:8px;
	@include mini-button($foreground, $float:right);
    }
}

article .postMeta {
    & {
	@include grid-column(12, $collapse:true);
    }
    h6 {
	font-weight:bold;
	color:#777;
    }
    h6.indicatorDraft {
	color:#e79e19;
    }
}

article .postExcerpt {
    @include grid-column(12, $collapse:true);
    word-wrap:break-word;
    text-align:justify;
}

#newLinkForm {
    background-color:white;
    padding:20px;
}

// mobile-list
@mixin mobile-list($bg: $foreground) {
    margin-top:$content-margin;
    margin-left:0;
    list-style-type:none;
    
    li {
	@include grid-row();
	background-color:$bg;
	border-bottom:1px solid darken($bg, 10%);
	padding:5px;

    }
    li:last-child {
	border-bottom:none;
    }
}