@import "styles/ui/subject.scss";

#new-blog-post {
    margin-left:0px;
    margin-right:0px;
}

#new-blog-post form {
    @include grid-row();
}

.draftButton, .publishButton {
    @include button-size($button-sml);
}

.publishButton {
    @include button-style($warning);
}

main > ul {
    @include mobile-list();
}

main ul .heading .rss-link {
    @extend .right;
    @extend button;
    @include button-style($purple);    
    @include button-size($button-tny);
    margin-right:5px;
}

article {
    @include grid-row();
    background-color:$foreground;
    padding:$minor-margin;

    input, input:focus, select, select:focus {
	background-color:white;
    }
}

article .postHeading {
    & {
	@include grid-column(12, $collapse:true);
    }
    h2 {
	margin-bottom:0;
	font-weight:bold;
    }
    h2 a {
	transition: color 0.3s ease-in-out;
    }
    h2 a:not(:hover) {
	color:#333;
    }
}

article .postMeta {
    & {
	@include grid-column(10, $collapse:true);
    }
    h6 {
	font-weight:bold;
	color:#777;
    }
    h6.indicatorDraft {
	color:$warning;
    }
}

article .postActions {
    & {
	@include grid-column(2, $collapse: true, $float:right);
    }
    a, button {
	@include button-size($button-tny);
	@include button-style($foreground);
	float:right;
    }
}

article .postExcerpt {
    @include grid-column(12, $collapse:true);
    word-wrap:break-word;
    text-align:justify;
}

textarea {
    resize:vertical;
    outline:none;
}