 @import "styles/ui/subject.scss";

#action-bar {
    @extend %bar;
}

#action-bar a {
    @extend button;
}

#action-bar #rss-link {
    @include button-style($orange);
    float:right;
}

#new-blog-post {
    @include content;
    margin-left:0px;
    margin-right:0px;
}

textarea {
    resize:vertical;
    outline:none;
}

#newPostForm x-richtexteditor {
    @extend textarea;
    min-height:200px;
}

.editor-toolbar ul {
    @include button-group-container();
    margin-right:10px;
    display:inline-block;
}

.editor-toolbar ul button {
    @include button(
	$padding:rem-calc(7),
	$bg: $secondary-color
    );
    @include button-group-style(
	$radius: true
    );
}

.editor-toolbar ul button.active {
    background-color: darken($secondary-color, 15%);
}

.draftButton, .publishButton {
    @include button-size($button-sml);
}

.publishButton {
    @include button-style($warning);
}


main #newPostForm #buttons {
    @include grid-column(12, $collapse:true);
}

article {
    @include content;
}

article .postHeading {
    & {
	@include grid-column(10, $collapse:true);
    }
    h2 {
	margin-bottom:0;
	font-weight:bold;
    }
    h2 a {
	transition: color 0.3s ease-in-out;
    }
    h2 a:not(:hover) {
	color:#333;
    }
}

article .postActions {
    & {
	@include grid-column(2, $collapse: true);
	float:right;
    }
    a, button {
	@include button-size($button-tny);
	@include button-style($foreground);
	float:right;
    }
}

article .postMeta {
    & {
	@include grid-column(12, $collapse:true);
    }
    h6 {
	font-weight:bold;
	color:#777;
    }
    h6.indicatorDraft {
	color:$warning;
    }
}

article .postExcerpt {
    @include grid-column(12, $collapse:true);
    word-wrap:break-word;
    text-align:justify;
}

.js.contenteditable {
    #new-blog-post-text {
	display:none;
    }
}

#views #preview, #views textarea#editor {
    display:none;
}

#views #preview.active, #views #editor.active {
    display:block;
}

#editor {
    font-size:17px;
    min-height:150px;
}

.editor .editor-toolbar {
    @include grid-row();
}

.editor .editor-toolbar .editor-formating {
    @include grid-column(6, $collapse: true);
}

.editor select {
    @include grid-column(3);
}

.editor select.editor-mode {
    @extend .right;
}

.editor .editor-preview {
    text-align:center;
    padding-bottom:20px;
}

ul[role="tablist"] li {
    float:left;
    padding-left:5px;
    padding-right:5px;
    border:1px solid black;
}