@import "styles/ui/subject.scss";
@import "styles/ui/topbar.scss";

main {
    padding:$content-margin;
    background-color:$middleground;
    height:100%;
}

#code {
    min-height:200px;
}

main header, #code, output {
    @include grid-row();
}

main header h2 {
    text-align:center;
}

main header > * {
    @include grid-column(4, $collapse:true);
}

#actions, #links {
    @include button-group-container();
}

#actions li {
    @include button-group-style();
}

button {
    @include button-size($button-sml);
}

button#runCode {
    @include button-style($green);
 
}

button#openFile {
    @include button-style($purple);
}

button#saveFile {
    @include button-style($red);
}

button#documentation {
    @include button-style($info);
    @extend .right;
}

/* For Flip Effect */
.flip-container {
    -webkit-perspective:1000;
}

.flip-container.flipped .flipper {
      -webkit-transform: rotateY(-180deg);
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.flipper > * {
    -webkit-backface-visibility: hidden;
    position:absolute;
    width:100%;
}

.flipper .front {
    z-index:2;
}

.flipper .back {
    -webkit-transform: rotateY(180deg);
}